*{
    padding: 0;
    margin: 0;
    border-style: border-box;
}

.item{
    width: 100px;
    height: 100px;
    background-color: pink;
    
    
}
.flex-container{
    height: 300px;
    border-color: red;
    border-style: solid;
    border-width: 3px;
    display: flex;
    justify-content: flex-start;
    /* justify-content: space-around;
    /* justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly; */
    /* align-items: flex-start;
    align-items: flex-end; */
    align-items: center;
    /* align-items: baseline; */
    gap: 20px;
    flex-direction: row-reverse;
    flex-direction: column-reverse;
    flex-direction: column;
}
.box{
    display: flex;
    justify-content: space-between;
}
.box-8{
    background-color: yellow;
    /* flex:1 ; */
    
}
.box-9 p a{
    background-color: green;
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
}
.box-10{
    background-color: blue;
    /* flex:1 ; */
}
.box-9{
    display: flex;
    gap: 10px;
}