.con {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.box1 {
  background-color: aqua;
  padding: 10px;
}

.container {
  display: grid;
  grid-template-columns: 100px 50px 50px 190px;
  gap: 2px;
}

.box16 {
  grid-column: 3 span;
  grid-row: 1 span;
}

.box11 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}

.container1 {
  display: grid;
  grid-template-columns: repeat(2, 190px);
  /* grid-template-rows: 50px 150px 50px; */
  gap: 10px;
}

.bot1 {
  background-color: aquamarine;
  padding: 5px;
}
.b1 {
  grid-column: 1 span;
  grid-row: 5 span;
}

.bold {
  padding: 20px;
  background-color: bisque;
}

.container2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  grid-template-rows: 50px 50px;
}

.bold1 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.bold4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

.bold7 {
  grid-column: 3 / 3;
  grid-row: 2 / 4;
}

.bold6 {
  grid-column: 3 span;
  grid-row: 4 span;
}

.gogo {
  display: grid;
  grid-template-columns: 190px 50px 50px;
  /* grid-template-rows: 50px; */
  gap: 5px;
}

.go {
  padding: 20px;
  background-color: aqua;
}

.g1 {
  grid-column: 1 span;
  grid-row: 2 span;
}

.x-container {
  display: grid;
  gap: 5px;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 50px;
}

.lov {
  background-color: blanchedalmond;
}

.lov1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.lov6 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 4;
}
.lov7 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 4;
}
