@media ONLY screen AND (min-width: 1201px) {
  body {
    background-color: rgb(144, 186, 223);
  }
  h1 {
    display: none;
  }
  #k1 {
    display: block;
    justify-content: center;
    align-items: flex-start;
  }
}

@media ONLY screen AND (max-width: 1200px) {
  body {
    background-color: rgb(113, 239, 241);
  }
  p::before {
    content: "Desktop";
    font-size: 48px;
    font-weight: 700;
    text-align: center;
  }
}

@media ONLY screen AND (max-width: 1024px) {
  body {
    background-color: rgb(48, 219, 74);
  }
  body::before {
    content: "Laptop";
    font-size: 48px;
    font-weight: 700;
    text-align: center;
  }
}
@media ONLY screen AND (max-width: 768px) {
  body {
    background-color: rgb(231, 200, 156);
  }
  body::before {
    content: "Tablet";
    font-size: 48px;
    font-weight: 700;
    text-align: center;
  }
}

@media ONLY screen AND (max-width: 480px) {
  body {
    background-color: rgb(231, 156, 226);
  }
  body::before {
    content: "Smart phone";
    font-size: 48px;
    font-weight: 700;
    text-align: center;
  }
}

body {
  height: 100vh;
}

.c1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.c2 {
  height: 50%;
}
/* .c2 h1 {
  display: flex;
  justify-content: center;
} */
